In [27]:
import pandas as pd
import matplotlib.pyplot as plt
import tweepy
import numpy
pd.set_option("display.max.columns", None)

In [28]:
# Dari twitter developer
consumer_key = "mVbCPRZy6BjESXP7NRmWx9DY3" 
consumer_secret = "PATinfNbKDK2aEzQHVrf0pKMfrBopqAC9NeRFGGi3oqx0DudcR" 
access_token = "1369785932677718019-M6N5JmTT44nBY8DhTXQSkzIDMchoSr" 
access_token_secret = "C80qH2MEkpX3O25bqjJAyalTKY0yDJtEDiNLH1DWPHfmZ"

In [29]:
# Autorisasi
auth = tweepy.OAuthHandler(consumer_key, consumer_secret) 
auth.set_access_token(access_token, access_token_secret) 
               
api = tweepy.API(auth, wait_on_rate_limit=True)
# users = []

In [30]:
LOCATION = "%s,%s,%s" % ("-6.173665", "106.826248", "9000km")

query1 = "COVID-19"
query2 = "VAKSIN"

cari = tweepy.Cursor(api.search, q="{}+AND+{}".format(query1, query2), rpp=1000, geocode=LOCATION, include_entities=True)

tweets = []
for tweet in cari.items():
    tweets.append(tweet)

In [31]:
ids = []
texts = []
user_ids = []
user_screen_name = []
in_reply_to_user_ids = []
in_reply_to_screen_names = []
user_mentionses = []
created_ats = []

for item in tweets:
  ids.append(item.id)
  texts.append(item.text)
  user_ids.append(item.user.id)
  user_screen_name.append(item.user.screen_name)
  in_reply_to_user_ids.append(item.in_reply_to_user_id)
  in_reply_to_screen_names.append(item.in_reply_to_screen_name)
  user_mentionses.append(item.entities["user_mentions"])
  created_ats.append(item.created_at)

ekspor = {}
ekspor["ids"] = ids
ekspor["texts"] = texts 
ekspor["user_ids"] = user_ids 
ekspor["user_screen_name"] = user_screen_name
ekspor["in_reply_to_user_ids"] = in_reply_to_user_ids 
ekspor["in_reply_to_screen_names"] = in_reply_to_screen_names
ekspor["user_mentionses"] = user_mentionses 
ekspor["created_ats"] = created_ats

In [32]:
df = pd.DataFrame(ekspor)
df.head()

,ids,texts,user_ids,user_screen_name,in_reply_to_user_ids,in_reply_to_screen_names,user_mentionses,created_ats
0,1383061285248532483,@VIVAcoid Dari semua komen yg ada disini byk y...,1329769759554957312,Yuyung1234,4.173094e+07,VIVAcoid,"[{'screen_name': 'VIVAcoid', 'name': 'VIVAcoid...",2021-04-16 14:14:41
1,1383053592391655427,@jokowi comments dong pak presiden vaksin sino...,3282154062,Soejonod,3.669872e+08,jokowi,"[{'screen_name': 'jokowi', 'name': 'Joko Widod...",2021-04-16 13:44:06
2,1383003763485470722,@TirtoID Kok vaksin buatan Amerika di uji coba...,1382140802193793026,QueenSa92814764,4.187276e+09,TirtoID,"[{'screen_name': 'TirtoID', 'name': 'tirtoid',...",2021-04-16 10:26:06
3,1382987458820730880,RT @artyunie76: Presiden @jokowi lawan pandemi...,71163516,besecks,NaN,None,"[{'screen_name': 'artyunie76', 'name': 'üïäÔ∏èÔ∏èÕ°Õú‡´ç...",2021-04-16 09:21:19
4,1382980505809743875,RT @artyunie76: Presiden @jokowi lawan pandemi...,1206149554329899009,WidAdji,NaN,None,"[{'screen_name': 'artyunie76', 'name': 'üïäÔ∏èÔ∏èÕ°Õú‡´ç...",2021-04-16 08:53:41

In [33]:
df.to_csv('HasilDataCrawling.csv')